body
  padding-top 61px
  //background-image  url('/img/back.jpg')
  background-color #2b5204
  color #000000
  width 90% !important

.navbar-header a.navbar-brand
  margin-top -15px
  margin-bottom -20px
  h6
    color #ccc

.option-set button
  font-family "bello-pro","Cooper STD",Georgia,serif !important
#stgame

footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2